.m-top{
margin-top: 10rem;
}


  @media (max-width: 1024px) {
    .lg\\:block {
      display: block !important;
    }

    .lg\\:flex-row {
      flex-direction: column !important;
    }

    .text-6xl, .lg\\:text-7xl {
      font-size: 2.5rem !important;
      line-height: 1.2 !important;
    }

    .image-fade {
      width: 80vw !important;
      position: static !important;
      transform: none !important;
      display: block;
      margin: 1rem auto;
    }

    .image-fade.show {
      opacity: 1;
    }

    .relative.flex-1.hidden.lg\\:block.h-full {
      display: block !important;
      padding-top: 2rem;
    }
  }
